<div class="card mb-3">
    <div class="card-header text-uppercase"><i class="fa fa-comment"></i> Reviews</div>
    <div class="card-body">
        <div class="review">
            <span class="fa fa-calendar" aria-hidden="true"></span>
            <span>August 21, 2018></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span>by Jack Johnson</span>
            <p class="blockquote">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                </p>
                <!-- </p> -->
                <hr>
        </div>
        <div class="review">
            <span class="fa fa-calendar" aria-hidden="true"></span>
            <span>January 01, 2018</span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span>by Paul Smith</span>
            <p class="blockquote">
                <div class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                </div>
                <!-- </p> -->
                <hr>
        </div>
    </div>
</div>