<footer class="main">
    <div class="top-area">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <ul class="social">
                        <li><a class="fa fa-facebook" href="#"></a></li>
                        <li><a class="fa fa-twitter" href="#"></a></li>
                        <li><a class="fa fa-instagram" href="#"></a></li>
                        <li><a class="fa fa-google-plus" href="#"></a></li>
                        <li><a class="fa fa-youtube" href="#"></a></li>
                    </ul>
                </div>
                <div class="col-md">
                    <ul>
                        <li class="list-heading">Service</li>
                        <li>Contact Us</li>
                        <li>Orders</li>
                        <li>Account</li>
                    </ul>
                </div>
                <div class="col-md">
                    <ul>
                        <li class="list-heading">Policies</li>
                        <li>Shipping</li>
                        <li>Returns</li>
                        <li>Privay</li>
                        <li>FAQ</li>
                    </ul>
                </div>
                <div class="col-md">
                    <ul>
                        <li class="list-heading">Links</li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-4">
                    <div class="pull-right">
                        <ul>
                            <li><i class="fa fa-cc-paypal"></i></li>
                            <li><i class="fa fa-cc-amex"></i></li>
                            <li><i class="fa fa-cc-discover"></i></li>
                            <li><i class="fa fa-cc-mastercard"></i></li>
                            <li><i class="fa fa-cc-visa"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>