<div class="container">
    <div class="row flex-nowrap">
        <div *ngIf="showSideBar" class="col-2 hidden-sm-down">
            <ul class="list-group mt-2">
                <li class="list-group-item">One</li>
                <li class="list-group-item">One</li>
                <li class="list-group-item">One</li>
            </ul>
        </div>
        <div class="card-deck mt-2">
            <div class="col-md-3" *ngFor="let product of products$ | async">
                <app-product-card [id]="product.id" [title]="product.title" [price]="product.price.value"
                    [smallUrl]="product.primaryImage.smallUrl">
                </app-product-card>
            </div>
        </div>
    </div>
</div>